//Responsive
$info-desktop: "only screen and (max-width : 1920px)";
$info-laptop-medium: "only screen and (max-width : 1440px)";
$info-laptop-normal: "only screen and (max-width : 1368px)";
$info-laptop-small: "only screen and (max-width : 1280px)";
$info-laptop-smallest: "only screen and (max-width : 1200px)";
$info-ipad-pro: "only screen and (max-width : 992px)";
$info-ipad: "only screen and (max-width : 768px)";
$info-phone-normal: "only screen and (max-width : 576px)";
$info-phone-small: "only screen and (max-width : 341px)";
